# Functions, Scoping, Data Collections 1 & List Comprehensions

## Tasks Today:

<i>Monday Additions (or, and ... if statements)</i>

1) String Manipulation <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) strip() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) title() <br>
2) Working With Lists <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) min() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) max() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) sum() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) sort() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) Copying a List <br>
 &nbsp;&nbsp;&nbsp;&nbsp; f) 'in' keyword <br>
 &nbsp;&nbsp;&nbsp;&nbsp; g) 'not in' keyword <br>
 &nbsp;&nbsp;&nbsp;&nbsp; i) Checking an Empty List <br>
 &nbsp;&nbsp;&nbsp;&nbsp; j) Removing Instances with a Loop <br>
3) List Comprehensions <br>
4) Tuples <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) sorted() <br>
5) Functions <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) User-Defined vs. Built-In Functions <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) Accepting Parameters <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) Default Parameters <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) Making an Argument Optional <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) Keyword Arguments <br>
 &nbsp;&nbsp;&nbsp;&nbsp; f) Returning Values <br>
 &nbsp;&nbsp;&nbsp;&nbsp; g) *args <br>
 &nbsp;&nbsp;&nbsp;&nbsp; h) Docstring <br>
 &nbsp;&nbsp;&nbsp;&nbsp; i) Using a User Function in a Loop <br>
6) Scope

### String Manipulation

In [7]:
my_string = "Gio plays too many video games"
print(my_string.lower())
print(my_string)
my_string = my_string.lower()
print(my_string)

gio plays too many video games
Gio plays too many video games
gio plays too many video games

In [8]:
my_string.upper()

'GIO PLAYS TOO MANY VIDEO GAMES'

In [9]:
my_string.title()

'Gio Plays Too Many Video Games'

##### .lstrip()

In [15]:
name = "     Francisco     "
print("word", name.lstrip('r F'), "word", sep="")

wordancisco     word

In [1]:
# string.lstrip()
name = "     hJohn Smith"
print(name.lstrip(" " "h"))

John Smith

##### .rstrip()

In [18]:
name = "  Francisco     "

print("word", name.rstrip(' ocsic'), "word", sep="")

word  Franword

In [6]:
# string.rstrip()
name = "Bill Ross     th"
print(name.rstrip(" " "th"))

Bill Ross

##### .strip()

In [27]:
name = "  Francisco     "

print("word", name.strip(' Frco'), "word", sep="")

wordancisword

In [11]:
# string.strip()
name = "     John Smith     th"
print(name.strip("ah"))

     John Smith     t

##### .title()

In [15]:
# string.title()
president = "barak obama"

print(president.title())

Barak Obama

### String Exercise <br>
<p>Strip all white space and capitalize every name in the list given</p>

In [29]:
names = ['    coNNor', 'max', ' EVan ', 'JORDAN']

names_list = []
for name in names:
    print(name.strip().title())
    names_list.append(name.strip().title())
print(names_list)

Connor
Max
Evan
Jordan
['Connor', 'Max', 'Evan', 'Jordan']

In [28]:
names = ['    coNNor', 'max', ' EVan ', 'JORDAN']
# HINT: You will need to use a for loop for iteration

# list_above = []
# list_above.append(names)
# for x in range(len(1000)):
#     print(x)

names_list = []
for name in names:
    print(name.strip().title())
    names_list.append(name.strip().title())
print(names_list)

Connor
Max
Evan
Jordan
['Connor', 'Max', 'Evan', 'Jordan']

In [32]:
# .split()

my_string = "Hello all you guys i hope ur having a great day!"
print(my_string.split())

['Hello', 'all', 'you', 'guys', 'i', 'hope', 'ur', 'having', 'a', 'great', 'day!']

In [33]:
my_string = "Hello all you guys i hope ur having a great day!"
print(my_string.split(','))

['Hello all you guys i hope ur having a great day!']

In [35]:
my_string = "Hello     all     you   guys i hope ur having a great day!"
print(my_string.split(" "))

['Hello', '', '', '', '', 'all', '', '', '', '', 'you', '', '', 'guys', 'i', 'hope', 'ur', 'having', 'a', 'great', 'day!']

### Working With Lists

In [37]:
# min(list)
my_list = [88, 56, 34.54, 4321, 6.3, 44, 1.1]

min(my_list)

1.1

In [38]:
help(min)

Help on built-in function min in module builtins:

min(...)
    min(iterable, *[, default=obj, key=func]) -> value
    min(arg1, arg2, *args, *[, key=func]) -> value

    With a single iterable argument, return its smallest item. The
    default keyword-only argument specifies an object to return if
    the provided iterable is empty.
    With two or more arguments, return the smallest argument.

##### min()

In [21]:
# min(list)
numbers = [4,2,97,54,16]

print(min(numbers))

2

##### max()

In [39]:
max(my_list)

4321

In [22]:
# max(list)

print(max(numbers))

97

##### sum()

In [40]:
print(sum(my_list))

4550.9400000000005

In [23]:
# sum(list)

print(sum(numbers))

173

##### sorted()

In [42]:
# function
# returns a copy of the array in sorted order
#out of place
print(sorted(my_list))
print(my_list)

print(sorted(my_list, reverse=True))

[1.1, 6.3, 34.54, 44, 56, 88, 4321]
[88, 56, 34.54, 4321, 6.3, 44, 1.1]
[4321, 88, 56, 44, 34.54, 6.3, 1.1]

In [28]:
# sorted(list)
print(numbers)

sorted_numbers = sorted(numbers)
print(sorted(numbers))
print(f'regular numbers: {numbers}')

print(f'sorted numbers: {sorted_numbers}')

[2, 4, 16, 54, 97]
[2, 4, 16, 54, 97]
regular numbers: [2, 4, 16, 54, 97]
sorted numbers: [2, 4, 16, 54, 97]

##### .sort() <br>
<p>Difference between sort and sorted, is that sorted doesn't change original list it returns a copy, while .sort changes the original list</p>

In [45]:
# only works on lists
# in place
print(my_list.sort())
print(my_list)

my_list.sort(reverse=True)
print(my_list)

None
[1.1, 6.3, 34.54, 44, 56, 88, 4321]
[4321, 88, 56, 44, 34.54, 6.3, 1.1]

In [30]:
# list.sort()
print(f'before sort: {numbers}')
print(numbers.sort())
print(numbers)

# use sorted when you don't want to alter original list, use .sort() when you want to alter original list

before sort: [2, 4, 16, 54, 97]
None
[2, 4, 16, 54, 97]

##### Copying a List

In [48]:
my_list1 = [1,2,3,4,5]
my_list2 = my_list1
my_list3 = [1,2,3,4,5]

my_list2.append(6)

print(my_list1)
print(my_list2)

print(id(my_list1))
print(id(my_list2))
print(id(my_list3))

[1, 2, 3, 4, 5, 6]
[1, 2, 3, 4, 5, 6]
140294442114368
140294442114368
140294978529088

In [31]:
# [:] copies a list, doesn't alter original'
list_1 = numbers[:]
print(list_1)
print(numbers)

[2, 4, 16, 54, 97]
[2, 4, 16, 54, 97]

In [49]:
# [:] copies a list, doesn't alter orig

my_list4 = my_list1[:]
print(id(my_list4))

140294442168704

In [50]:
my_list5 = my_list.copy()
print(id(my_list5))

140294442168384

##### 'in' keyword

In [32]:
l_teachers = ["Joel","Derek","Conner","Brian","Joe"]

if 'Derek' in l_teachers:
    print('Coding Temple Instructor')
else:
    print('Not an Instructor')

Coding Temple Instructor

In [35]:
# Looking inside of the list for specific characters
# for name in l_teachers:
#     if name[0] == 'C':
#         print('Teacher that starts with C')
#     else:
#         print("We ain't got it boss...")
        
for name in l_teachers:
    if 'C' in name[0]:
        print('Found')
    else:
        print('Not Found')

Not Found
Not Found
Found
Not Found
Not Found

##### 'not in' keyword

In [33]:
if 'Zack' not in l_teachers:
    print('Not a CT Instructor')

Not a CT Instructor

##### Checking an Empty List

In [36]:
# if l_1: or if l_1 = []
l_2 = []

if l_2 == []:
    print('Empty')

Empty

In [ ]:
if len(my_list)==0:
    print("empty")

if my_list==[]:
    print("empty")

In [51]:
my_list = []
if not my_list:
    print("I am empty")
else:
    print("I have stuff")

I am empty

##### Removing Instances with a Loop

In [52]:
my_class = ['Dylan', 'Gio', 'Andre', 'Dylan', "Jody"]

while "Dylan" in my_class:
    my_class.remove("Dylan")
    print("I removed a Dylan from the class roster. We now have:", my_class)

I removed a Dylan from the class roster. We now have: ['Gio', 'Andre', 'Dylan', 'Jody']
I removed a Dylan from the class roster. We now have: ['Gio', 'Andre', 'Jody']

In [43]:
# while, remove
names = ['Conner',"Joel", "Max","Evan","Rob","Evan"]

while 'Evan' in names:
    names.remove('Evan')
print(names)

for name in names:
    if name == 'Evan':
        names.remove('Evan')
print(names)

['Conner', 'Joel', 'Max', 'Rob']

### List Exercise <br>
<p>Remove all duplicates<br><b>Extra: Create a program that will remove any duplicates from a given list</b></p>

In [55]:
my_class = ['Dylan', 'Gio', 'Andre', 'Dylan', "Jody"]
my_class.count('Dylan')

2

In [64]:
names = ['connor', 'connor', 'bob', 'connor', 'evan', 'max', 'evan', 2, 2, 2, 3, 3, 4, 'bob', 'kevin']

names_copy = []
for i in names:
    if i not in names_copy:
        names_copy.append(i)
print(f'new list {names_copy}')

for name in names:
    while names.count(name) > 1:
        names.remove(name)
print(names)

new list ['connor', 'bob', 'evan', 'max', 2, 3, 4, 'kevin']
['connor', 'max', 'evan', 2, 3, 4, 'bob', 'kevin']

In [45]:
names = ['connor', 'connor', 'bob', 'connor', 'evan', 'max', 'evan', 2, 2, 2, 3, 3, 4, 'bob', 'kevin']
# Hint 1: You will need an append
# Hint 2: Using an empty list will make life easier

names_copy = []

for i in names:
    if i not in names_copy:
        names_copy.append(i)
print(f'new list after removing dups {names_copy}')

new list after removing dups ['connor', 'bob', 'evan', 'max', 2, 3, 4, 'kevin']

##### .join

In [65]:
# String Method!!!
my_class = ['Dylan', "Gio", "Andre", "Dylan", "Jody"]
print(", ".join(my_class))
print("*-*".join(my_class))

print("".join(my_class))

Dylan, Gio, Andre, Dylan, Jody
Dylan*-*Gio*-*Andre*-*Dylan*-*Jody
DylanGioAndreDylanJody

### List Comprehensions <br>
<p>Creating a quickly generated list to work with<br>*result*  = [*transform*    *iteration*         *filter*     ]</p>

##### In a list comprehension we have a few pieces:
1. The first is the counter/ variable - IN this the variable is x
2. then we have a transform for the variable
3. The finale part of a list comp is called the condition

```python
    [variable, transform, condition]
```

In [66]:
my_class = ["Shayne",'Dylan', "Gio", "Andre", "Sarah", "Dmitry", "Sheffield", "Steven"]

new_list = []
for person in my_class:
    new_list.append(person)
print(new_list)

['Shayne', 'Dylan', 'Gio', 'Andre', 'Sarah', 'Dmitry', 'Sheffield', 'Steven']

In [47]:
# number comprehension

# With a regular for loop

nums = []

for i in range(100):
    nums.append(i)
print(nums)


# IN a list comprehension we have a few pieces:
# The first is the counter/ variable - IN this the variable is x
# Then we have a transform for the variable 
# The finale part of a list comp is called the condition

#[variable, transform, condition]

print('\n')

# List Comprehension syntax
nums_comp = [i for i in range(100)]

print(nums_comp)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99]


[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99]

There are a few benefits to using List comprehensions. The most obvious would be that we now have shorter code to work with instead of using 3+ lines of code in the for loop variant.

Another is an added benefit to memory usage. Since the list's memory is allocated first before adding elements to it, we don't have to resize the list once we add elements to it.

Lastly, list comprehensions are considered the "pythonic" way to write code by the PEP8 standards (Python Style Guide)

In [69]:
new_list=[]
for person in my_class:
    new_list.append(person[0].lower())
print(new_list)

['s', 'd', 'g', 'a', 's', 'd', 's', 's']

In [70]:
new_list = [person.lower()[0] for person in my_class]
new_list

['s', 'd', 'g', 'a', 's', 'd', 's', 's']

In [ ]:
new_list=[]
for person in my_class:
    if person[0].lower() == 's':
        new_list.append(person)
print(new_list)

In [72]:
new_list = [person for person in my_class if person[0].lower()== 's']
print(new_list)

['Shayne', 'Sarah', 'Sheffield', 'Steven']

In [73]:
new_list=[]
for person in my_class:
    if person[0].lower() == 's':
        new_list.append(person)
    else:
        new_list.append("Not Cool Name Doesn't Start with S")
print(new_list)

['Shayne', "Not Cool Name Doesn't Start with S", "Not Cool Name Doesn't Start with S", "Not Cool Name Doesn't Start with S", 'Sarah', "Not Cool Name Doesn't Start with S", 'Sheffield', 'Steven']

In [75]:
new_list = [person if person[0].lower() == 's' else "Not Cool Name Doesn't Start With S" for person in my_class]

In [89]:
my_class = ['Grady', 'Dara', 'Scarlett', 'Patrick', 'Ku', 'Frank', 'Aydee']

new_class = []
for i in my_class:
    if len(i) == 5:
        print(i)
    else:
        print("n/5")
print(new_class)

Grady
n/5
n/5
n/5
n/5
Frank
Aydee
[]

In [86]:
new_class = [person if len(i) == 5 else "not 5" for i in my_class]
print(new_class)

['Steven', 'not 5', 'not 5', 'not 5', 'not 5', 'Steven', 'Steven']

In [83]:
my_list = ['Levi', 'Axel','Carmelo','Yakov','Katie','Alec','Angelo','David','Trace']

new_list = [name[-1].lower() for name in my_list]
print(new_list)

['i', 'l', 'o', 'v', 'e', 'c', 'o', 'd', 'e']

In [50]:
# square number comprehension
squares = [x**2 for x in range(10)]

print(squares)

squares_reg = []

for x in range(10):
    squares_reg.append(x**2)

print('\n')
print(squares_reg)

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]


[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [52]:
# string comprehension
names = ['Conner', 'Max','Evan','Rob']

first_char_comp = [name[0] for name in names]

print(first_char_comp)

# For Loop Version
first_char = []

for name in names:
    first_char.append(name[0])
print('\n')
print(first_char)

['C', 'M', 'E', 'R']


['C', 'M', 'E', 'R']

In [54]:
# Using the 'if' statement ... if always comes after the for
c_names = [first_name for first_name in names if first_name[0] == 'C']

print(c_names)

# for loop version
c_names_reg = []

for first_name in names:
    if first_name[0] == 'C':
        c_names_reg.append(first_name)

print('\n')
print(c_names_reg)

['Conner']


['Conner']

### Tuples <br>
<p><b>Defined as an immutable list</b></p><br>Seperated by commas using parenthesis

In [59]:
tup_1 = 1,2,3 # first way of creating a tuple
tup_2 = (1,2,3) # Another/Second way of creating a tuple

print(type(tup_1))
print(type(tup_2))

print(tup_1[0])

print(len(tup_1))

# Looping over a tuple
for number in tup_1:
    print(number)
    
# Looping over a tuple with an index using range and len
for number in range(len(tup_1)):
    print(tup_1[number])

<class 'tuple'>
<class 'tuple'>
1
3
1
2
3
1
2
3

In [91]:
my_tup = (1,2,3)
type(my_tup)

tuple

In [90]:
my_tup = 1,2,3
type(my_tup)

tuple

In [92]:
#Declare an empty tuple


#This Is Useless!!!
t2 = tuple()
t3 = ()

print(type(t2))
type(t3)

<class 'tuple'>

tuple

In [94]:
my_tup=('Jacoby','Ola','Alex','Andre')
print(my_tup)

('Jacoby', 'Ola', 'Alex', 'Andre')

In [95]:
my_tup[1]

'Ola'

In [96]:
my_tup.index('Alex')

2

In [ ]:
my_tup.append('Dylan')
# NO NO NO, Can't Edit Tuple

##### sorted()

In [99]:
sorted_tup = tuple(sorted(my_tup, reverse=True))
sorted_tup

('Ola', 'Jacoby', 'Andre', 'Alex')

In [ ]:
my_tup[2]="Steven"
#Can't Do

In [101]:
new_tup = (1,2,3,["A","B","C"],4)
#new_tup[3]=["X","Y","Z"] -- Can't Do
new_tup[3][1]="Y"
new_tup

(1, 2, 3, ['A', 'Y', 'C'], 4)

In [102]:
sorted('dahbfhbfjkaskjv na')

[' ',
 'a',
 'a',
 'a',
 'b',
 'b',
 'd',
 'f',
 'f',
 'h',
 'h',
 'j',
 'j',
 'k',
 'k',
 'n',
 's',
 'v']

In [62]:
tup_3 = (20,5,1,3,9,45)

sorted_tup = sorted(tup_3)

random_list = [3,4,66,77,33]
combine_list = sorted_tup + random_list

new_tup = tuple(combine_list)

print('\n')
print(new_tup)
print(combine_list)
print(type(sorted_tup))
print(sorted_tup)

(1, 3, 5, 9, 20, 45, 3, 4, 66, 77, 33)
[1, 3, 5, 9, 20, 45, 3, 4, 66, 77, 33]
<class 'list'>
[1, 3, 5, 9, 20, 45]

##### Adding values to a Tuple

In [106]:
my_tup=('Jacoby','Ola','Alex','Andre')

my_tup=my_tup + ('Jody', 'Steven')
my_tup

('Jacoby', 'Ola', 'Alex', 'Andre', 'Jody', 'Steven')

In [63]:
print(tup_1)

tup_1 = tup_1 + (5,)

print(tup_1)

(1, 2, 3)
(1, 2, 3, 5)

## Functions

##### User-Defined vs. Built-In Functions

In [110]:
def say_hello():
    print('Hello')
print(say_hello())

Hello
None

In [111]:
print(say_hello)

<function say_hello at 0x7f98c8ca7550>

In [117]:
def add():
    return 5+3
print(add()+2)
print("Thats all folks")


print(add()== 8)

type(add())

10
Thats all folks
True

int

In [64]:
# User Defined Function
def sayHello():
    return 'Hello World'
# Showing the function call in memory
print(sayHello)

# Calling The function
print(sayHello())

<function sayHello at 0x000001B242FA7A68>
Hello World

##### Accepting Parameters

In [120]:
def print_full_name(f, l):
    print(f"{f} {l}")
    
print_full_name("Alex","Collins")

Alex Collins

In [122]:
my_list=[]

def add_to_list(a_list):
    a_list.append('abc')
    return a_list

print(my_list)    
my_list=add_to_list(my_list)
print(my_list)

[]
['abc']

In [67]:
# Order matters
# A variable can be of any type of object
def printFullName(first_name,last_name):
    return f'Hello {first_name}, {last_name}'

print(printFullName('Joel', 'Carter'))
print(printFullName('Carter', 'Joel'))

print(printFullName(last_name="Carter",first_name = "Joel"))

Hello Joel, Carter
Hello Carter, Joel
Hello Joel, Carter

##### Default Parameters

In [127]:
def agent_name(first, last="Bond"):
    print(f"Your secret agent name is {last}, {first} {last}")
agent_name('kevin', 'bob')

Your secret agent name is bob, kevin bob

In [72]:
# default parameters need to be AFTER non-default parameters at all times

def printAgentName(first_name, last_name = 'Bond'):
    return f'The name is...{first_name} {last_name}'

printAgentName('James')

# DON'T DO THIS PLEASE 
# def printAgentAgain(last_name = 'Bond', first_name):
#     return f'The name is...{first_name} {last_name}'

# printAgentAgain(first_name ='James')

'The name is...James Bond'

##### Making an Argument Optional

In [130]:
print('hey','you','guys', sep='429o8563597')

hey429o8563597you429o8563597guys

In [131]:
def my_function():
    print('line 1')
    return
    print('line 2')## Unreachable!!! Dead Code
print('line 3')

my_function()

line 3
line 1

In [134]:
def what_datatype():
    return['Hey' , 123 , [4,5], 187.123, {"hello":"guys"}]
what_datatype()[4]['hello']

'guys'

In [73]:
def printHorseName(first, middle = "", last = "Ed"):
    return f"Hello {first} {middle} {last}"

printHorseName("Mr")

'Hello Mr  Ed'

##### Keyword Arguments

In [74]:
# last_name='Max', first_name='Smith' in the function call
def printSuperHero(name, power = "flying"):
    return f'{name} and superpower is {power}'

printSuperHero('IronMan')
# see above

'IronMan and superpower is flying'

# Creating a start, stop, step function

In [75]:
def my_range(stop,start=0,step = 1):
    for i in range(start,stop,step):
        print(i)
my_range(20,1)

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19

##### Returning Values

In [76]:
def addNums(num1,num2):
    return num1 + num2

addNums(5,2)

7

##### *args / **kwargs (AKA KeyWord Args)

In [135]:
def my_func(name, *args):
    print(name)
    for arg in args:
        print('The next arg is: ', arg, type(arg))
    
my_func('Dylan' , 123.3, [1,2,3], 'I am too Cool','Kevin is the BEST')

Dylan
The next arg is:  123.3 <class 'float'>
The next arg is:  [1, 2, 3] <class 'list'>
The next arg is:  I am too Cool <class 'str'>
The next arg is:  Kevin is the BEST <class 'str'>

In [136]:
def my_func(name, **kwargs):
    print(name)
    print(type(kwargs))
    print(kwargs)
    for key in kwargs:
        print(key, kwargs[key])

my_func('Sarah', weight = 85, height = 64, foods = ['Tacos', 'Steak', 'Strawberry'], hair_color="Pink")

Sarah
<class 'dict'>
{'weight': 85, 'height': 64, 'foods': ['Tacos', 'Steak', 'Strawberry'], 'hair_color': 'Pink'}
weight 85
height 64
foods ['Tacos', 'Steak', 'Strawberry']
hair_color Pink

In [1]:
# stands for arguments, takes ANY number of arguments as parameters
# must be last if muliple parameters are present
def printArgs(num1,*args, **kwargs):
    print(num1)
    print(args)
    
    for arg in args:
        print(arg)
        
    for kwarg in kwargs:
        print(kwarg)
        
printArgs(36,'DragonZord','vanilla',2,3,testing="joel")

36
('DragonZord', 'vanilla', 2, 3)
DragonZord
vanilla
2
3
testing

##### Docstring

In [ ]:
def my_function(name,age):
    '''
        Takes in a name and an age and returns a formatted string that tells the name and age
        [name] = string
        [age] = integer
    '''
    return f"{name} is {age}"

In [137]:
help(my_function)

Help on function my_function in module __main__:

my_function()

In [79]:
def printNames(list_1):
    """
        printNames(list_1)
        Function requires a list to be passed as a parameter
        and will print the contents of the list. Expecting 
        a list of names(strings) to be passed.
    """
    for name in list_1:
        print(name)
        
printNames(['George','Ramon','Peter'])
help(printNames)

George
Ramon
Peter
Help on function printNames in module __main__:

printNames(list_1)
    printNames(list_1)
    Function requires a list to be passed as a parameter
    and will print the contents of the list. Expecting
    a list of names(strings) to be passed.

##### Using a User Function in a Loop

In [138]:
def add_two(n):
    return n+2
while True:
    ask = int(input("What is your number???? "))
    new_value = add_two(ask)
    print(f'The new number is {new_value}')
    response = input("Ready to quit? [type quit]")
    if response.lower()=='quit':
        break

What is your number???? 2
The new number is 4
Ready to quit? [type quit]no
What is your number???? 100
The new number is 102
Ready to quit? [type quit]quit

In [82]:
def printInput(answer):
    print(answer)

response = input('Are you ready to quit??')

while True:
    ask = input('What do you want to do?')
    
    printInput(ask)
    
    response = input('Ready Yet?')
    if response.lower() == 'quit':
        break

Are you ready to quit??no
What do you want to do?bowl
bowl
Ready Yet?YES
What do you want to do?dance
dance
Ready Yet?QUIT

## Function Exercise <br>
<p>Write a function that loops through a list of first_names and a list of last_names, combines the two and return a list of full_names</p>

In [150]:
first_name = ['John', 'Evan', 'Jordan', 'Max']
last_name = ['Smith', 'Smith', 'Williams', 'Bell']


def full_name(first, last):
    fnl = []
    for index in range(len(first)):
        their_full_name = f"{first[index]} {last[index]}"
        fnl.append(their_full_name.title())
    return fnl

print(full_name(first_name, last_name))

   



#Output: ['John Smith', 'Evan Smith', 'Jordan Williams', 'Max Bell']

['John Smith', 'Evan Smith', 'Jordan Williams', 'Max Bell']

In [151]:
def add_names_comp(first_names, last_names):
    return [first_names[index] + " " + last_names[index] for index in range(len(first_names))]
add_names_comp(first_name, last_name)

['John Smith', 'Evan Smith', 'Jordan Williams', 'Max Bell']

## Scope <br>
<p>Scope refers to the ability to access variables, different types of scope include:<br>a) Global<br>b) Function (local)<br>c) Class (local)</p>

In [ ]:
#Placement of variable declaration matters
--LEGB--
Local
Enclosing
Global
Built-in

In [153]:
x = 3
y = 12

def func():
    z = 3
    x = 12
    print(x)
    def inner():
        a=12
        z=55
        
print(x)

3

In [154]:
a_list = [5,7,2]
print(min(a_list))

def min(some_list):
    return "I overtook the builtin scope"

print(min(a_list))

2
I overtook the builtin scope

In [156]:
#define a var in the global space
var1 = "A"
var2 = "C"

def my_function():
    print("inside the function", var1)
    var2 = "B"
    print("inside the function", var2)
    
my_function()
print(var2)

inside the function A
inside the function B
C

In [158]:
a_list = ["A", "B", "C"]

letter="X"

print('above', letter)

for letter in a_list:
    y=123
    print(letter)

print(y)
print('below', letter)

above X
A
B
C
123
below C

In [86]:
# placement of variable declaration matters
number = 3 # Global Variable

def myFunc():
    num_3 = 6 # Local Function Variable
    return num_3

print(number)
return_num = myFunc()

print(return_num)

3
6

# Exercises

## Exercise 1 <br>
<p>Given a list as a parameter,write a function that returns a list of numbers that are less than ten</b></i></p><br>
<p> For example: Say your input parameter to the function is [1,11,14,5,8,9]...Your output should [1,5,8,9]</p>

In [159]:
numbers = [1, 11, 14, 5, 8, 9]

less_ten = []

for num in numbers:
    if num < 10:
        less_ten.append(num)
print(less_ten)

[1, 5, 8, 9]

## Exercise 2 <br>
<p>Write a function that takes in two lists and returns the two lists merged together and sorted<br>
<b><i>Hint: You can use the .sort() method</i></b></p>

In [160]:
l_1 = [1,2,3,4,5,6]
l_2 = [3,4,5,6,7,8,10]

l_merged = sorted(l_1 + l_2)
print(str(l_merged))

#wasn't sure if we were supposed to do a def function for these. If so, I'll give them a go in a second file.

[1, 2, 3, 3, 4, 4, 5, 5, 6, 6, 7, 8, 10]